<section class="kit block" id="kit">
	<div class="container">
		<h2 class="kit-title title">Комплектация ”<span class="lime text-nowrap">Умной швабры</span>”</h2>
		<div class="kit-content">
			<div class="kit-left">
				<div class="kit-equipment">
					<div class="kit-equipment__title">Комплектация</div>
					<div class="kit-equipment__name"><b>Швабра:</b> 1 шт.</div>
					<div class="kit-equipment__text">(с емкостью для моющего средства<br>
						и рукоятью с рычагом рассеивания)</div>
					<div class="kit-equipment__name"><b>Насадки:</b> 2 шт.</div>
					<div class="kit-equipment__text">(1 основная + 1 запасная)</div>
				</div>
				<div class="kit-curve">
					<div class="kit-curve__title">Характеристики</div>
					<ul class="kit-curve-list">
						<li class="kit-curve-list__item"><b>Материал:</b> алюминий, пластик</li>
						<li class="kit-curve-list__item"><b>Материал насадок:</b> микрофибра, шиниль</li>
						<li class="kit-curve-list__item"><b>Высота швабры вместе с рукоятью:</b> <span class="text-nowrap">126
								см</span></li>
						<li class="kit-curve-list__item"><b>Объем емкости:</b> 700 мл</li>
						<li class="kit-curve-list__item"><b>Размер насадки:</b> 41 х 12,5 см</li>
						<li class="kit-curve-list__item"><b>Размер стеклоочистителя:</b> 30 х 25 см</li>
					</ul>
				</div>
			</div>
			<div class="kit-right">
				<div class="kit-right-box kit-box1">
					<div class="kit-right__img"><img src="img/kit-1.png" alt="kit"></div>
					<div class="kit-right__text">Рукоять<br>
						с рычагом<br>
						рассеивания</div>
				</div>
				<div class="kit-right-box kit-box2">
					<div class="kit-right__img"><img src="img/kit-2.png" alt="kit"></div>
					<div class="kit-right__text">Две насадки</div>
				</div>
				<div class="kit-right-box kit-box3">
					<div class="kit-right__img"><img src="img/kit-3.png" alt="kit"></div>
					<div class="kit-right__text">Емкость<br>
						для моющего<br>
						средства</div>
				</div>
			</div>
		</div>
		<div class="kit-circle"></div>
		<div class="next-block next-block--grey"></div>

	</div>
</section>