<header class="header block">
	<div class="container">
		<div class="header-content">
			<div class="header-left">
				<h1 class="header-title">Мыть полы — приятная игра!</h1>
				<div class="header-subtitle">С <span class="lime">Умной шваброй</span><br>
					мыть полы так просто,<br>
					что это нравится всем,<br>
					даже детям</div>
				<ul class="header-list">
					<li class="header-list__item">
						Просто<br>
						до неправдоподобия:
						<span>насадка впитывает всю<br>
							жидкость и собирает всю грязь</span>
					</li>
					<li class="header-list__item">Так быстро,
						<span>что вы не заметите процесс,<br>
							но заметите результат</span></li>
					<li class="header-list__item">Идеально чисто:
						<span>полы блестят, нет грязи в углах<br>
							и под диванами</span></li>
				</ul>
			</div>
			<div class="header-center">
				<div class="header-mop"><img src="img/mop.png" alt="mop"></div>
			</div>
			<div class="header-right">
				<div class="form">
					<div class="form-title">Дешевле,<br>
						чем в магазине!</div>
						<div class="price">
							<div class="old-price">
								<div class="old-price-title">Старая цена</div>
								<div class="old-price-count"><span class="x_price_previous">900</span> <span class="x_currency">руб</span></div>
							</div>
							<div class="new-price">
								<div class="new-price-title">А теперь цена</div>
								<div class="new-price-count"><span class="x_price_current">800</span> <span class="x_currency">руб</span></div>
							</div>
						</div>
						<form action="/submit" method="post" class="x_order_form form__cont">
							<div class="form__input-name"><input type="text" name="name" placeholder="Мое имя" required="" autocomplete="name" class="form__input"></div>
							<div class="form__input-phone"><input type="tel" name="phone" placeholder="Мой телефон" required="" autocomplete="tel" class="form__input"></div>
							<button type="submit" class="btn">Заказать <span class="form__btn_size">со
									скидкой<span></span></span></button>
						</form>
						<div class="protection">Ваши данные защищены!</div>
				</div>
			</div>
		</div>
		<div class="header-circle"></div>
		<span class="circle-1"></span>
		<span class="circle-2"></span>
		<span class="circle-3"></span>
		<span class="circle-4"></span>
		<a href="#check" class="next-block"></a>
	</div>
</header>