<section class="ancient block">
	<div class="container">
		<div class="ancient__content">
			<div class="ancient__left">
				<img src="img/ancient-door.png" alt="door" class="ancient__img">
			</div>
			<div class="ancient__right">
				<h2 class="title ancient__title">Спрячьте старую швабру<br> и тряпки в кладовку!</h2>
				<p class="ancient__desc">После “<span class="color-green">Умной швабры</span>” полы чище,<br>
					чем после других приспособлений для мытья</p>
				<h3 class="ancient__ttl">4 главных преимущества “<span class="color-green">Умной швабры</span>”</h3>
				<div class="ancient__list">
					<div class="item">
						<img src="img/ancient-1.png" alt="ancient" class="item__img">
					</div>
					<div class="item">
						<img src="img/ancient-2.png" alt="ancient" class="item__img">
					</div>
					<div class="item">
						<img src="img/ancient-3.png" alt="ancient" class="item__img">
					</div>
					<div class="item">
						<img src="img/ancient-4.png" alt="ancient" class="item__img">
					</div>
				</div>
				<ul class="ancient__adv">
					<li class="item"><b>Резервуар с водой</b> находится на ручке самой швабры<div class="br"></div>
						Этого количества жидкости хватает на всю квартиру!</li>
					<li class="item"><b>Уникальная насадка с ворсинками</b> идеально собирает,<br>
						а не размазывает, всю грязь, и впитывает больше жидкости, чем другие материалы. Ее не нужно постоянно
						полоскать.</li>
					<li class="item"><b>Гладкая сторона</b> из микрофибры идеально вытирает полы насухо,
						не&nbsp;оставляя разводов.</li>
					<li class="item"><b>Поворот насадки</b> швабры под нужным углом позволяет вымыть каждый угол и
						труднодоступные места</li>
				</ul>
			</div>
		</div>

		<div class="arrow arrow--grey">
			<a href="#prezident">
				<svg class="arrow__svg" version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 30 17"
					style="enable-background:new 0 0 30 17;" xml:space="preserve">
					<style type="text/css">
						.bottom__arrow {
							fill: #FFFFFF;
						}
					</style>
					<g>
						<g transform="translate(-1266 -372)">
							<g>
								<path class="bottom__arrow" d="M1295.4,372.6c-0.4-0.4-0.8-0.6-1.3-0.6h-26.2c-0.5,0-0.9,0.2-1.3,0.6c-0.4,0.3-0.6,0.8-0.6,1.3
						c0,0.5,0.2,1,0.6,1.3l13.1,13.2c0.4,0.4,0.8,0.6,1.3,0.6c0.5,0,0.9-0.2,1.3-0.6l13.1-13.2c0.4-0.4,0.6-0.8,0.6-1.3
						C1296,373.4,1295.8,372.9,1295.4,372.6L1295.4,372.6z" />
							</g>
						</g>
					</g>
				</svg>
			</a>

			<svg class="el__svg" version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 368 40"
				style="enable-background:new 0 0 368 40;" xml:space="preserve">
				<style type="text/css">
					.bottom__el {
						fill: #eef3f6;
					}
				</style>
				<g>
					<g transform="translate(-1096 -372)">
						<g>
							<path class="bottom__el" d="M0,372h1465c-61.6,0-123.8,40-186,40c-61.5,0-123-40-184-40H0z" />
						</g>
					</g>
				</g>
			</svg>


		</div>
	</div>
</section>