<section class="ancient block" id="ancient">
	<div class="container">
		<div class="ancient__content">
			<div class="ancient__left">
				<img src="img/ancient-door.png" alt="door" class="ancient__img">
			</div>
			<div class="ancient__right">
				<h2 class="title ancient__title">Спрячьте старую швабру<br> и&nbsp;тряпки в&nbsp;кладовку!</h2>
				<p class="ancient__desc">После “<span class="color-green">Умной швабры</span>” полы чище,<br>
					чем после других приспособлений для мытья</p>
				<h3 class="ancient__ttl">4 главных преимущества “<span class="color-green">Умной&nbsp;швабры</span>”</h3>
				<div class="ancient__list">
					<div class="item">
						<img src="img/ancient-1.png" alt="ancient" class="item__img">
					</div>
					<div class="item">
						<img src="img/ancient-2.png" alt="ancient" class="item__img">
					</div>
					<div class="item">
						<img src="img/ancient-3.png" alt="ancient" class="item__img">
					</div>
					<div class="item">
						<img src="img/ancient-4.png" alt="ancient" class="item__img">
					</div>
				</div>
				<ul class="ancient__adv">
					<li class="item"><b>Резервуар с водой</b> находится на ручке самой швабры.<br>
						Этого количества жидкости хватает на всю квартиру!</li>
					<li class="item"><b>Уникальная насадка с&nbsp;ворсинками</b> идеально собирает,<br>
						а не размазывает всю грязь, и&nbsp;впитывает больше жидкости, чем другие материалы. Ее не нужно
						постоянно
						полоскать.</li>
					<li class="item"><b>Гладкая сторона</b> из&nbsp;микрофибры идеально вытирает полы насухо,
						не&nbsp;оставляя разводов.</li>
					<li class="item"><b>Поворот насадки</b> швабры под нужным углом позволяет вымыть каждый угол
						и&nbsp;труднодоступные места.</li>
				</ul>
			</div>
		</div>
		<div class="next-block next-block--grey"></div>
	</div>
</section>