.ancient
	padding-top: 53px
	padding-bottom: 107px
	background: url('../img/bg-ancient.png') no-repeat calc(50% - +406px) 56px 
	position: relative
	+r(1189)
		padding-bottom: 70px
	&:after
		content: ""
		position: absolute
		left: 50%
		bottom: -50px
		transform: translateX(-50%)
		height: 52px
		width: 100%
		background: url(../img/line-3.png) no-repeat center
		z-index: 2
		+r(1023)
			display: none
	.color-green
		color: #a0d344
	.arrow
		+r(1023)
			display: none
	&__content
		display: flex
		justify-content: space-between
	&__left
		flex-shrink: 0
		margin-top: 190px
		margin-left: -107px
		margin-right: 69px
		+r(1189)
			margin-right: 40px
			margin-top: 140px
		+r(1023)
			display: none
	&__title
		text-align: left
		position: relative
		padding-bottom: 40px
		margin-bottom: 15px
		+r(1023)
			text-align: center
			padding-bottom: 18px
		+r(479)
			br
				display: none
		&::after
			content: ''
			display: block
			position: absolute
			bottom: 0
			left: 0
			width: 100px
			height: 4px
			background-color: #a0d344
			+r(1023)
				left: 50%
				transform: translateX(-50%)
	&__desc
		color: #696f92
		font-size: 24px
		line-height: 28px
		margin-bottom: 33px
		.color-green
			font-weight: 700
		+r(1023)
			text-align: center
		+r(767)
			font-size: 21px
			line-height: 26px
			margin-bottom: 18px
		+r(479)
			font-size: 20px
			line-height: 22px
			br
				display: none
	&__ttl
		color: #3c3f52
		font-size: 36px
		font-weight: 900
		line-height: 44px
		margin-bottom: 30px
		+r(1189)
			font-size: 28px
		+r(1023)
			text-align: center
		+r(639)
			font-size: 22px
			margin-bottom: 20px
			line-height: 20px
	&__list
		display: flex
		counter-reset: section
		margin-bottom: 60px
		justify-content: center
		+r(1189)
			justify-content: flex-start
		+r(1023)
			justify-content: center
		+r(639)
			flex-wrap: wrap
			justify-content: space-around
			margin-bottom: 30px
		.item
			flex-shrink: 0
			position: relative
			z-index: 20
			+r(1189)
				width: 120px
			&:not(:last-of-type)
				margin-right: 70px
				+r(1189)
					margin-right: 31px
				+r(1023)
					margin-right: 50px
				+r(767)
					margin-right: 40px
				+r(639)
					margin-right: 0
					margin-bottom: 25px
				+r(479)
					margin-bottom: 0
				&:nth-of-type(odd)
					&::after
						content: ''
						display: block
						position: absolute
						top: 60px
						right: -130px
						width: 198px
						height: 35px
						background: url('../img/before-img.svg') no-repear center top
						background-size: cover
						z-index: -1
				&:nth-of-type(even)
					&::after
						content: ''
						display: block
						position: absolute
						top: 45px
						right: -130px
						width: 198px
						height: 35px
						background: url('../img/before-img.svg') no-repear center top
						transform: rotate(180deg)
						background-size: cover
						z-index: -1
			+r(767)
				&:not(:last-of-type)
					&:nth-of-type(odd), &:nth-of-type(even)
						&::after
							display: none
			+r(479)
				width: 45%
				text-align: center
				&:nth-of-type(-n+2)
						margin-bottom: 25px
			&::before
				counter-increment: section
				content: counter(section)
				position: absolute
				width: 30px
				height: 30px
				box-shadow: 0 3px 13px rgba(164, 226, 103, 0.57)
				background-color: #ffffff
				background-image: linear-gradient(-84deg, #87c232 0%, #d2f568 100%)
				border-radius: 50%
				display: flex
				align-items: center
				justify-content: center
				color: #3c3f52
				font-size: 20px
				left: 50%
				bottom: -10px
				transform: translate(-50%)
	&__adv
		counter-reset: section
		margin-left: 15px
		+r(1189)
			margin-left: 0
		.item
			position: relative
			padding-left: 50px
			color: #696f92
			font-size: 20px
			line-height: 24px
			+r(767)
				font-size: 19px
			+r(639)
				padding-left: 40px
				br
					display: none
			+r(479)
				font-size: 18px
			b
				color: #3c3f52
				font-weight: 700
			&:not(:last-of-type)
				margin-bottom: 35px
				+r(767)
					margin-bottom: 19px
			&::after
				counter-increment: section
				content: counter(section)
				position: absolute
				color: #a0d344
				font-size: 50px
				font-weight: 900
				line-height: 1
				left: 0
				top: 50%
				transform: translateY(-50%)