<section class="gives block">
	<div class="container">
		<h2 class="title gives__title">Сколько времени вы тратите на&nbsp;уборку сейчас?</h2>
		<div class="gives__content">
			<div class="left">
				<div class="left__row">
					<div class="item">
						<div class="ttl-wrap">
							<img src="img/ico-gives-1.svg" alt="">
							<h4 class="item__ttl item__ttl-1">Подготовиться к&nbsp;уборке</h4>
						</div>
						<p class="item__text">Набрать ведро воды, размочить или вымыть швабру, принести тяжелое ведро
							в&nbsp;нужное
							место</p>
						<p class="time">5-15 минут</p>
					</div>
					<div class="item">
						<div class="ttl-wrap">
							<img src="img/ico-gives-2.svg" alt="">
							<h4 class="item__ttl item__ttl-2">Вымыть полы</h4>
						</div>
						<p class="item__text">Пару раз пройтись со шваброй по полу,<br> чтобы не&nbsp;осталось разводов.
							Может<br>
							придется
							поменять воду в&nbsp;ведре</p>
						<p class="time">20 минут</p>
					</div>
				</div>
				<div class="left__row">
					<div class="item">
						<div class="ttl-wrap">
							<img src="img/ico-gives-3.svg" alt="">
							<h4 class="item__ttl item__ttl-3">Подождать</h4>
						</div>
						<p class="item__text">Подождать,<br> пока полы высохнут</p>
						<p class="time">15 минут</p>
					</div>
					<div class="item">
						<div class="ttl-wrap">
							<img src="img/ico-gives-4.svg" alt="">
							<h4 class="item__ttl item__ttl-4">Закончить уборку<br> вручную</h4>
						</div>
						<p class="item__text">Теперь нужно тряпкой или салфетками<br> вымыть углы и&nbsp;пыль у&nbsp;плинтуса,
							собрать<br>
							пыль
							под шкафами и&nbsp;диванами</p>
						<p class="time">10 минут</p>
					</div>
				</div>
			</div>
			<div class="right">
				<img src="img/gives-1.png" alt="gives" class="right__img">
			</div>
		</div>
		<div class="gives__result1">
			<span class="small">Времени на уборку</span>
			не меньше <span class="color"><b>1</b> часа!</span>
		</div>
		<div class="gives__list">
			<h2 class="title gives__ttl">Сколько времени вам нужно будет на&nbsp;уборку<br>
				“<span class="color-green text-nowrap">Умной шваброй</span>”?</h2>
			<div class="list">
				<div class="list__item">
					<div class="photo-wrap">
						<img src="img/gives-item-1.png" alt="gives" class="photo">
					</div>
					<span class="time">0 минут</span>
					<h4 class="list__ttl">Для начала уборки<br> уже все под рукой</h4>
					<p class="list__text">Просто возьмите<br> “<b>Умную швабру</b>” в руки.<br> Вы готовы.</p>
				</div>
				<div class="list__item">
					<div class="photo-wrap">
						<img src="img/gives-item-2.png" alt="gives" class="photo">
					</div>
					<span class="time">12 минут</span>
					<h4 class="list__ttl">Вымыть полы в один этап</h4>
					<p class="list__text">Нажмите на кнопку, чтобы распылить немного жидкости
						в&nbsp;том месте, которое собираетесь мыть.
						Проведите&nbsp;по полу стороной
						с&nbsp;ворсинками.</p>
				</div>
				<div class="list__item">
					<div class="photo-wrap">
						<img src="img/gives-item-3.png" alt="gives" class="photo">
					</div>
					<span class="time">3 минуты</span>
					<h4 class="list__ttl">Быстро протереть</h4>
					<p class="list__text">Гладкой стороной насадки протрите пол насухо. Швабра поворачивается, как вам
						удобно, и достает в каждый угол. Пол блестит, будто его отполировали!</p>
				</div>
				<div class="list__item">
					<div class="photo-wrap">
						<img src="img/gives-item-4.png" alt="gives" class="photo">
					</div>
					<span class="time">0 минут</span>
					<h4 class="list__ttl">Все готово!</h4>
					<p class="list__text">Не волнуйтесь, уже все чисто. Просто выпейте чаю.</p>
				</div>
			</div>
			<div class="gives__result2">
				<span class="small">Времени на уборку</span>
				не больше <span class="color"><b>15</b> минут!</span>
			</div>
		</div>
		<div class="next-block"></div>
	</div>
</section>