<section class="review block">

	<div class="container">
			<h2 class="title">Отзывы об <span class="lime">”Умной швабре”</span></h2>
			<div class="review-content" id="cont-rev">
				<div class="review-reviews">
						<div class="review-box">
								<div class="review-box__img"><img src="img/ava1.png" alt="avatar"></div>
								</div>
								<div class="review-user">
										<div class="review-user__name">Tanushka</div>
										<div class="review-user-box">
												<div class="review-user__rtitle">Оценка товара</div>
												<ul class="review-user__rating">
														<li class="star-current" style="width: 80%"><span></span></li>
														<li><span></span></li>
														<li><span></span></li>
														<li><span></span></li>
														<li><span></span></li>
												</ul>
										</div>
										<div class="review-user__text">
												Не думала я, что меня может удивить швабра )) Не знаю, что за чудеса, но я действительно стала мыть полы в 3 раза быстрее. И не нужно собаку закрывать, чтобы по мокрому полу 
не бегала - все сразу сухо.
										</div>
								</div>
						</div>
						<div class="review-reviews">
								<div class="review-box">
										<div class="review-box__img"><img src="img/ava2.png" alt="avatar"></div>
										</div>
										<div class="review-user">
												<div class="review-user__name">Натусик</div>
												<div class="review-user-box">
														<div class="review-user__rtitle">Оценка товара</div>
														<ul class="review-user__rating">
																<li class="star-current" style="width: 100%"><span></span></li>
																<li><span></span></li>
																<li><span></span></li>
																<li><span></span></li>
																<li><span></span></li>
														</ul>
												</div>
												<div class="review-user__text">
														Швабра плоская, потому я даже под батареей могу ей помыть. Очень удобно, что она везде достает. И захват у нее большой. Мне эта швабра нравится.
												</div>
										</div>
								</div>
								<div class="review-reviews">
										<div class="review-box">
												<div class="review-box__img"><img src="img/ava3.png" alt="avatar"></div>
												</div>
												<div class="review-user">
														<div class="review-user__name">grolga</div>
														<div class="review-user-box">
																<div class="review-user__rtitle">Оценка товара</div>
																<ul class="review-user__rating">
																		<li class="star-current" style="width: 80%"><span></span></li>
																		<li><span></span></li>
																		<li><span></span></li>
																		<li><span></span></li>
																		<li><span></span></li>
																</ul>
														</div>
														<div class="review-user__text">
																Я раньше мыла шваброй с губкой (наверное, у всех такие были). Так эти губки отрываются, как только попробуешь ими что-то потереть! Умная швабра намного прочнее, я не боюсь 
на нее надавить и потереть.
														</div>
												</div>
										</div>
										<div class="review-reviews">
												<div class="review-box">
														<div class="review-box__img"><img src="img/ava4.png" alt="avatar"></div>
														</div>
														<div class="review-user">
																<div class="review-user__name">Sunshine80</div>
																<div class="review-user-box">
																		<div class="review-user__rtitle">Оценка товара</div>
																		<ul class="review-user__rating">
																				<li class="star-current" style="width: 100%"><span></span></li>
																				<li><span></span></li>
																				<li><span></span></li>
																				<li><span></span></li>
																				<li><span></span></li>
																		</ul>
																</div>
																<div class="review-user__text">
																		Дочке 8 лет уже. Убирать - это было не про нее. А сейчас ей во-первых понравился яркий цвет швабры, а во-вторых ей так понравился распылитель, что она теперь сама просит разрешения поубирать! Включает музыку, на кнопку распылителя нажимает будто стреляет и моет всю квартиру :)

																</div>
														</div>
												</div>
												<div class="review-reviews">
														<div class="review-box">
																<div class="review-box__img"><img src="img/ava5.png" alt="avatar"></div>
																</div>
																<div class="review-user">
																		<div class="review-user__name">RedFox</div>
																		<div class="review-user-box">
																				<div class="review-user__rtitle">Оценка товара</div>
																				<ul class="review-user__rating">
																						<li class="star-current" style="width: 100%"><span></span></li>
																						<li><span></span></li>
																						<li><span></span></li>
																						<li><span></span></li>
																						<li><span></span></li>
																				</ul>
																		</div>
																		<div class="review-user__text">
																				Все быстро и легко убирает. Лучшее доказательство то, что уборщица в офисе такую выбрала. Без разводов и размазанной грязи, 20 минут на 2 комнаты, коридор, кухню, туалет и ванную.

																		</div>
																</div>
														</div>
														<div class="review-reviews">
																<div class="review-box">
																		<div class="review-box__img"><img src="img/ava6.png" alt="avatar"></div>
																		</div>
																		<div class="review-user">
																				<div class="review-user__name">Ира Ира</div>
																				<div class="review-user-box">
																						<div class="review-user__rtitle">Оценка товара</div>
																						<ul class="review-user__rating">
																								<li class="star-current" style="width: 70%"><span></span></li>
																								<li><span></span></li>
																								<li><span></span></li>
																								<li><span></span></li>
																								<li><span></span></li>
																						</ul>
																				</div>
																				<div class="review-user__text">
																						Ой, я очень люблю такие штуки, которые облегчают жизнь и экономят мое время! Мультиварка, которая сама готовит, посудомойка, в которую загрузил грязное - и готово. Сейчас эту “Умную швабру” взяла. Хоть с ней и нужно пройтись по квартире, но это вообще не сложно!

																				</div>
																		</div>
																</div>
																<div class="review-reviews">
																		<div class="review-box">
																				<div class="review-box__img"><img src="img/ava8.png" alt="avatar"></div>
																				</div>
																				<div class="review-user">
																						<div class="review-user__name">Лена П1981</div>
																						<div class="review-user-box">
																								<div class="review-user__rtitle">Оценка товара</div>
																								<ul class="review-user__rating">
																										<li class="star-current" style="width: 90%"><span></span></li>
																										<li><span></span></li>
																										<li><span></span></li>
																										<li><span></span></li>
																										<li><span></span></li>
																								</ul>
																						</div>
																						<div class="review-user__text">
																								Я видела рекламу этой швабры, но сразу почему-то не купила. Купила в магазине другую, тоже с распылителем. И та швабра начала ломаться уже через неделю! Емкость с водой, поролоновая ручка… 
Но я поняла, какой она может быть маневренной и удобной. Вторую взяла именно эту - и это просто праздник! Все детали прочные, насадки на отличных липучках. Ее даже в руках приятно держать. За 4 месяца - ни одной претензии. Только удобство и облегчение работы. Отличная швабра!

																						</div>
																				</div>
																		</div>
																		<div class="review-reviews">
																				<div class="review-box">
																						<div class="review-box__img"><img src="img/ava7.png" alt="avatar"></div>
																						</div>
																						<div class="review-user">
																								<div class="review-user__name">Дмитрий Егорович</div>
																								<div class="review-user-box">
																										<div class="review-user__rtitle">Оценка товара</div>
																										<ul class="review-user__rating">
																												<li class="star-current" style="width: 95%"><span></span></li>
																												<li><span></span></li>
																												<li><span></span></li>
																												<li><span></span></li>
																												<li><span></span></li>
																										</ul>
																								</div>
																								<div class="review-user__text">
																										Удобно для пожилых людей, потому что не нужно таскать за собой ведро, а потом наклоняться и в нем что-то полоскать. Мать более-менее может поддерживать чистоту, на сколько ей здоровья хватает, не чувствует себя беспомощной.
																								</div>
																						</div>
																				</div>
																				<div class="review-reviews">
																						<div class="review-box">
																								<div class="review-box__img"><img src="img/ava9.png" alt="avatar"></div>
																								</div>
																								<div class="review-user">
																										<div class="review-user__name">Владимир Грабовый</div>
																										<div class="review-user-box">
																												<div class="review-user__rtitle">Оценка товара</div>
																												<ul class="review-user__rating">
																														<li class="star-current" style="width: 85%"><span></span></li>
																														<li><span></span></li>
																														<li><span></span></li>
																														<li><span></span></li>
																														<li><span></span></li>
																												</ul>
																										</div>
																										<div class="review-user__text">
																												Купил вчера. Первая уборка с помощью швабры прошла удачно.
Достоинства: Швабра хорошая,качественная,легкая,соответствует описанию,есть насадка для окон.
Недостатки: Не обнаружил.

																										</div>
																								</div>
																						</div>
																						<div class="review-reviews">
																								<div class="review-box">
																										<div class="review-box__img"><img src="img/ava10.png" alt="avatar"></div>
																										</div>
																										<div class="review-user">
																												<div class="review-user__name">Адрина</div>
																												<div class="review-user-box">
																														<div class="review-user__rtitle">Оценка товара</div>
																														<ul class="review-user__rating">
																																<li class="star-current" style="width: 100%"><span></span></li>
																																<li><span></span></li>
																																<li><span></span></li>
																																<li><span></span></li>
																																<li><span></span></li>
																														</ul>
																												</div>
																												<div class="review-user__text">
																														Шваброчка-ленивка :) В смысле - для ленивых. Или практичных :) За один раз эта швабра легко впитывает полную чашку кофе, проверено. И пол остается идеально сухим, не нужно второй раз проходиться, салфетками дотирать. Стоимость, кстати, меня устраивает. Как для такого набора - даже дешево! :)
																												</div>
																										</div>
																								</div>
																								<div class="review-reviews">
																										<div class="review-box">
																												<div class="review-box__img"><img src="img/ava11.png" alt="avatar"></div>
																												</div>
																												<div class="review-user">
																														<div class="review-user__name">ANTILOPA777777</div>
																														<div class="review-user-box">
																																<div class="review-user__rtitle">Оценка товара</div>
																																<ul class="review-user__rating">
																																		<li class="star-current" style="width: 100%"><span></span></li>
																																		<li><span></span></li>
																																		<li><span></span></li>
																																		<li><span></span></li>
																																		<li><span></span></li>
																																</ul>
																														</div>
																														<div class="review-user__text">
																																Приятно убирать новыми приспособлениями. Мне удобно, что в ручке у этой мега-швабры есть отверстие, я ее вешаю на крючок в ванной. В целом, отличная задумка и отличная реализация.
																														</div>
																												</div>
																										</div>
																										<div class="review-reviews">
																												<div class="review-box">
																														<div class="review-box__img"><img src="img/ava12.png" alt="avatar"></div>
																														</div>
																														<div class="review-user">
																																<div class="review-user__name">Екатерина Л.</div>
																																<div class="review-user-box">
																																		<div class="review-user__rtitle">Оценка товара</div>
																																		<ul class="review-user__rating">
																																				<li class="star-current" style="width: 100%"><span></span></li>
																																				<li><span></span></li>
																																				<li><span></span></li>
																																				<li><span></span></li>
																																				<li><span></span></li>
																																		</ul>
																																</div>
																																<div class="review-user__text">
																																		Боже, каких только швабр у меня не было. Одна заливала пол водой так, что приходилось по полу с сухой тряпкой ползать. Другая наоборот была суховата и царапала паркет. А вот с распылителем вариант идеальный, я туда еще моющее добавляю, или даже немного старой доброй хлорки. Насадки мягкие, и сторона с ворсом буквально притягивает к себе всю пыль.
																																</div>
																														</div>
																												</div>
																												<div class="review-reviews">
																														<div class="review-box">
																																<div class="review-box__img"><img src="img/ava13.png" alt="avatar"></div>
																																</div>
																																<div class="review-user">
																																		<div class="review-user__name">Наденька</div>
																																		<div class="review-user-box">
																																				<div class="review-user__rtitle">Оценка товара</div>
																																				<ul class="review-user__rating">
																																						<li class="star-current" style="width: 100%"><span></span></li>
																																						<li><span></span></li>
																																						<li><span></span></li>
																																						<li><span></span></li>
																																						<li><span></span></li>
																																				</ul>
																																		</div>
																																		<div class="review-user__text">
																																				Мне родители подарили на день рожденья эту швабру. Я сначала вообще обиделась, а потом, как распробовала, поняла, что и сама на подарки буду ее заказывать )))
																																		</div>
																																</div>
																														</div>
																														<div class="review-reviews">
																																<div class="review-box">
																																		<div class="review-box__img"><img src="img/ava14.png" alt="avatar"></div>
																																		</div>
																																		<div class="review-user">
																																				<div class="review-user__name">КрСергей</div>
																																				<div class="review-user-box">
																																						<div class="review-user__rtitle">Оценка товара</div>
																																						<ul class="review-user__rating">
																																								<li class="star-current" style="width: 100%"><span></span></li>
																																								<li><span></span></li>
																																								<li><span></span></li>
																																								<li><span></span></li>
																																								<li><span></span></li>
																																						</ul>
																																				</div>
																																				<div class="review-user__text">
																																						Я думал, что это реклама товара с завышенной ценой, стал искать комплект из швабры и стеклоочистителя на других сайтах, и понял, что тут реально выгодное предложение. Ну и такую швабру вообще больше нигде не нашел, чтобы двусторонняя была. А для меня именно это важно, чтобы 2 раза не мыть. Короче, этот набор раза в полтора дешевле, чем в других магазинах, а качество надежнее. Надо брать.	</div>
																																		</div>
																																</div>
																																<div class="review-reviews">
																																		<div class="review-box">
																																				<div class="review-box__img"><img src="img/ava15.png" alt="avatar"></div>
																																				</div>
																																				<div class="review-user">
																																						<div class="review-user__name">LERA901050</div>
																																						<div class="review-user-box">
																																								<div class="review-user__rtitle">Оценка товара</div>
																																								<ul class="review-user__rating">
																																										<li class="star-current" style="width: 100%"><span></span></li>
																																										<li><span></span></li>
																																										<li><span></span></li>
																																										<li><span></span></li>
																																										<li><span></span></li>
																																								</ul>
																																						</div>
																																						<div class="review-user__text">
																																								Идеальная швабра для ламината, не любящего влагу! Единственный минус, это если у вас есть совсем узкие места, куда контейнер с жидкостью не пройдет. Но у меня таких мест нет!</div>
																																				</div>
																																		</div>
																																		<div class="review-reviews">
																																				<div class="review-box">
																																						<div class="review-box__img"><img src="img/ava16.png" alt="avatar"></div>
																																						</div>
																																						<div class="review-user">
																																								<div class="review-user__name">Мамаманана</div>
																																								<div class="review-user-box">
																																										<div class="review-user__rtitle">Оценка товара</div>
																																										<ul class="review-user__rating">
																																												<li class="star-current" style="width: 100%"><span></span></li>
																																												<li><span></span></li>
																																												<li><span></span></li>
																																												<li><span></span></li>
																																												<li><span></span></li>
																																										</ul>
																																								</div>
																																								<div class="review-user__text">
																																										Не знали, как заставить детей сделать уборку? Эта швабра - отличный вариант ))) Сын с дочкой устраивают водные дуэли, он со шваброй, она со скребком для стекол (естественно, моющее средство я не добавляю). Ну а потом они всю квартиру убирают. ))</div>
																																						</div>
																																				</div>
																												</div>
																												<div class="review-btn">
																														<a href="#cont-rev" class="review-btn__list">еще отзывы (16)</a>
																														<div class="review-btn__leave">Оставить отзыв</div>
																												</div>
	</div>
</section>
<div class="review-popup">
	<div class="add-review">
			<div class="add-review__close"></div>
			<div class="add-review__title">Оставить отзыв</div>
			<form class="add-review__form">
				<div class="box-flex">
					<div class="form__input-name"><input type="text" name="name" placeholder="Мое имя" required="" autocomplete="name" class="form__input input__val-1"></div>
				<div class="form__input-phone"><input type="tel" name="phone" placeholder="Мой телефон" required="" autocomplete="tel" class="form__input input__val-2"></div>
				</div>
					<div class="review-user-box ">
							<div class="review-user__rtitle">Поставте оценку препарату</div>
							<ul class="review-user__rating review-user__ratingAdd">
									<li class="star-current add_star-current add_star-current1"><span class="star1" title="Плохо"></span></li>
									<li><span class="star2" title="Приемлемо"></span></li>
									<li><span class="star3" title="Средне"></span></li>
									<li><span class="star4" title="Хорошо"></span></li>
									<li><span class="star5" title="Отлично"></span></li>
							</ul>
					</div>
					<div class="form__field form__field--text">
							<input type="text" class="form__input input__val-3" name="text" required="" placeholder="Текст отзвыва...">
					</div>
					<button class="add-review__btn">Добавить отзыв</button>
			</form>
	</div>
</div>
<div class="review-popup_last">
	<div class="review-popup_last__content">
			<div class="review-popup_last__close"></div>
			<p class="review-popup_last__title">Отзыв отправлен на модерацию. Спасибо!</p>
			<p class="review-popup_last__p">Нецензурная лексика или реклама будут удалены.</p>
	</div>
</div>