.footer {
	padding-top: 45px;
	padding-bottom: 49px;
	font-size: 16px;
	line-height: 1;
	color: #666;
	.color{
		color: #a6d650;
	}
}

.footer__wrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
	

	
}
.footer__left {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	line-height: 24px;

}
.footer__prod{
	font-weight: 700;

}
.footer__right{
	text-align: right;
	line-height: 24px;


}
.footer__name {
	margin-bottom: 5px;
}

.footer__center {
	text-align: center;
	line-height: 24px;

}

.footer__privacy {
	color: inherit;
	text-align: center;

	display: block;
	margin-bottom: 5px;
	&:hover {
		text-decoration: underline;
	}
}

.footer__requisites {
	text-transform: uppercase;
	text-align: right;
	margin-bottom: 5px;
	&:last-child {
		margin-bottom: 0;
	}
}

@include r(1023) {
	.footer {
		font-size: 15px;
		padding: 40px 0;
	}
}

@include r(767) {
	.footer__wrap {
		flex-direction: column;
		justify-content: center;
	}
	
	.footer__logo {
		margin-right: 0;
		margin-bottom: 5px;
	}

	.footer__right, .footer__left {
		display: none;
	}

	.footer__info, .footer__adress {
		display: none;
	}

	.footer__addres {
		display: none;
	}
}

