<section class="check block" id="check">
	<div class="container">
									<div class="check-content">
										<div class="check-girl"></div>
										<div class="check-info">
											<h2 class="title check-title">С <span class="lime text-nowrap">«Умной шваброй»</span><br>
												вы навсегда <span class="text-nowrap">забудете о</span>:</h2>
												<ul class="check-list">
													<li class="check-list__item">Необходимости надрывать спину</li>
													<li class="check-list__item">Испорченной коже рук и ногтей</li>
													<li class="check-list__item">Необходимости постоянно полоскать тряпку</li>
													<li class="check-list__item">Обременении “унылым” занятием</li>
													<li class="check-list__item">Тяжелых ведрах с водой</li>
												</ul>
										</div>
									</div>
									<div class="check-circle"></div>
				</div>
</section>