<section class="delivery block" id="delivery">
	<div class="container">
		<h2 class="title">Закажите ”<span class="lime">Умную&nbsp;швабру</span>”<br>
			без предоплаты!</h2>
		<div class="delivery-first">
			<div class="delivery-first-box">
				<div class="delivery-first__img"><img src="img/del1.png" alt="Заполнить форму"></div>
				<div class="delivery-first__text">Заполните форму
					<span>(имя и телефон)</span>
				</div>
			</div>
			<div class="delivery-first-box del-box-line">
				<div class="delivery-first__img "><img class="del2" src="img/del2.png" alt="Заполнить форму"></div>
				<div class="delivery-first__text">Ответьте на звонок<br> оператора</div>
			</div>
			<div class="delivery-first-box">
				<div class="delivery-first__img"><img class="del3" src="img/del3.png" alt="Заполнить форму"></div>
				<div class="delivery-first__text">Заберите посылку в&nbsp;удобном вам отделении почты</div>
			</div>
		</div>
		<h3 class="delivery-second-title">Заказывайте на этом сайте,<br>
			чтобы получить оригинальную ”<span class="lime">Умную&nbsp;швабру</span>”, <span class="text-nowrap">а не
				подделку</span>
		</h3>
		<div class="delivery-second">
			<div class="delivery-second-box">
				<div class="delivery-second__check"></div>
				<div class="delivery-second__text text-margin">Крепления надежны!</div>
			</div>
			<div class="delivery-second-box">
				<div class="delivery-second__check"></div>
				<div class="delivery-second__text">Прочный алюминий<br>
					и&nbsp;легкий пластик</div>
			</div>
			<div class="delivery-second-box">
				<div class="delivery-second__check"></div>
				<div class="delivery-second__text text-margin">Насадки долговечны!</div>
			</div>
		</div>
		<div class="delivery-circle1"></div>
		<div class="delivery-circle2"></div>
		<div class="next-block"></div>
	</div>
</section>