<section class="order block" id="order">
	<div class="container wrap">
		<div class="order-wrap">
			<h2 class="title order__title">Пользоваться<br> ”<span class="color-green">Умной&nbsp;шваброй</span>” настолько
				приятно,
				что
				даже дети воспринимают уборку как игру!</h2>
			<p class="order__desc">Закажите ”<span class="color-green">Умную&nbsp;швабру</span>” прямо сейчас!</p>
			<button class="btn order__btn ever-popup-btn">Заказать <span class="form__btn_size">со
					скидкой<span></span></span></button>
		</div>
		<div class="next-block"></div>
	</div>
</section>