.order
	padding-top: 70px
	padding-bottom: 77px
	background: url('../img/bg-order.png') no-repeat center bottom, #eef3f6 url('../img/child.png') no-repeat calc(50% - -280px) -10px
	.order-wrap
		position: relative
	.color-green
		color: #a0d344
	&__title
		font-size: 60px
		font-weight: 900
		line-height: 56px
		text-align: left
		max-width: 640px
		width: 100%
		padding-bottom: 36px
		margin-bottom: 40px
		position: relative
		&::after
			content: ''
			display: block
			position: absolute
			bottom: 0
			left: 0
			width: 258px
			height: 7px
			background-color: #a0d344
	&__desc
		color: #3c3f52
		font-size: 28px
		line-height: 32.09px
		margin-bottom: 30px
	&__text
		color: #696f92
		font-size: 20px
		font-style: italic
		span
			color: #3c3f52
	&__btn
		position: absolute
		top: 420px
		right: 20px